#
# Copyright Quadrivium LLC
# All Rights Reserved
# SPDX-License-Identifier: Apache-2.0
#

BasedOnStyle: Google

AlignAfterOpenBracket: DontAlign
AlignOperands: AlignAfterOperator
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
DerivePointerAlignment: false
FixNamespaceComments: true
IncludeBlocks: Preserve
InsertBraces: true
InsertTrailingCommas: Wrapped
NamespaceIndentation: All
PointerAlignment: Right
QualifierAlignment: Custom
QualifierOrder: ['inline', 'static', 'constexpr', 'const', 'volatile', 'type', 'restrict']
ReferenceAlignment: Right
ReflowComments: true
ShortNamespaceLines: 0
SortIncludes: CaseSensitive

# use "// clang-format off" + "// clang-format on"
BreakStringLiterals: true

# comment if not supported
InsertNewlineAtEOF: true
