# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE auxiliaries
.idea

/build
/build-ex
/cmake-build-*
/.build
/.venv
/.vcpkg
/.build*

CMakeUserPresets.json
/vcpkg_installed
